[submodule "lib/luajit"]
	path = lib/luajit
	url = https://luajit.org/git/luajit.git
[submodule "lib/cjson"]
	path = lib/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "lib/subhook"]
	path = lib/subhook
	url = https://github.com/savushkin-r-d/subhook.git
